body{
    margin: 0px;
}

.main-header{
    background-color: greenyellow;
    padding: 8px 16px;
}

.main-header div,nav{
    display: inline-block;
}

.main-nav{
    text-align: right;
    width: calc(100% - 57px);
}

.main-nav__items{
    list-style: none;
    padding:0px;
    margin: 0px;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item{
    text-decoration: none;
    margin: 0px 16px;
    font-size: larger;
}

.main-nav__item a{
    text-decoration: none;
    color: black;
}

.main_brand{
    text-decoration: none;
    color: black;
    font-size: large;
}


.main-nav__item a:hover{
    color: white;
    border-bottom: 3px solid white;
}

.main-nav__item a:active{
    color: blueviolet;
    background-color: black;
}

.woah a{
    background-color: rgb(236, 105, 105);
    border-radius: 10px;
    padding: 3px 10px;
}

.woah a:hover,
.woah a::before{
    border:none;
    content: "(new)";
    color: white;
}

.main-nav__item a::after{
    content: "(help)";
    color: red;
}
