* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.backdrop {
    position: absolute;
    display: none;
    top: 20%;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 60vh;
  }

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: black;
    font-family: 'Anton', sans-serif;
}

.plan__list{
    width: 100%;
    text-align: center;
}
/* h1 {
    font-family: sans-serif;
} */

.three_lines{
    font-size: 40px;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}
    
    .main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-header__brand img {
    width: 40px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items , .mobile-nav__items{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item , .mobile-nav__item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a , .mobile-nav__item a{
    text-decoration: none;
    color: #0e4f1f;
    padding: 8px 0px;
}

.main-nav__item a:hover , .mobile-nav__item a:hover{
    color: white;
    cursor: pointer;
    border-bottom: 3px solid white;
}

.main-nav__item a:active , .mobile-nav__item a:hover{
    color: rgb(11, 11, 12);
    background-color: rgb(248, 248, 248);
}

.mobile-nav{
    width: 40%;
}

.strtHosting a{
    background-color: rgb(236, 105, 105);
    border-radius: 10px;
    padding: 3px 10px;
    color:white
}

.strtHosting a:hover{
    border:none;
    background-color: whitesmoke;
    color: black;
}

#product-overview{
    background: #ff1b68;
    width: 100%;
    height: 528px;
    margin-top: 10px;
    padding: 10px;   
    background-image: url(/Notes_resources_imgs,pdfs,etc/images/freedom.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: left bottom 63%;
}

.plan{
    text-align: center;
    background-color: #6fec90;
    padding: 12px 16px;
    margin: 18px 0;
    width: 100%;
}

.plan--highlight{
    background-color: green;
    color: white;
    box-shadow: 2px 2px 7px 3px rgb(0,0,1);
}

.head--box{
    background-color: white;
    color:rgb(6, 196, 6);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px black;
}


.toggle-button {
    display: none;

  }
  

  

ul{
    padding: 0px 20px;
}

ul li{
    padding: 5px;
}

.plan__head{
    color: rgb(2, 58, 2);
}

.plan--highlight .plan__price{
    color: #41f170;
}

.plan__price{
    color: #858585;
}

.button{
    background-color: #0e4f1f;
    color: white;
    padding: 8px;
    font-family: inherit;
    border: 1px solid #0e4f1f;
    border-radius: 4px;
    font-weight: bold;
}

.button:hover{
    background-color: white;
    color: #0e4f1f;
    cursor: pointer;
}

#key-features {
    background-color: #f13a3a;
    margin-top: 60px;
    padding-top: 20px;
    text-align: center;
}

#key-features h1{
    color: white;
    text-transform: capitalize;
}

#key-features ul li{
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    vertical-align: top;

}

.key-feature__image{
    background-color: grey;
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
}

footer{
    background-color: black;
}

footer ul{
    text-align: center;
    padding: 30px 10px;
    font-size: small;
}

footer ul li{
    color: white;
    display: inline;
}

footer ul li:hover{
    color:cornflowerblue;
    cursor: pointer;
}

.check_i{
    display: none;
}

#checkbox{
    display: none;
}

@media (max-width: 540px){
    .main-nav__items{
        display: none;
    }

    .host_img{
        position: absolute;
        top: 1%;
        left: 45%;
        width: 50px !important;
    }

    .toggle-button{
        display: block;
        width: 3rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
    }
    .toggle-button:focus {
        outline: none;
      }
      
      .toggle-button__bar {
        width: 100%;
        height: 0.2rem;
        background: black;
        display: block;
        margin: 0.6rem 0;
      }

    #product-overview{
        background-position: center right 80%;
    }

    h1{
        font-size: 25px;
    }

    }

@media (min-width: 40rem){
    .plan{
        transition: .8s;
        display: inline-block;
        vertical-align: center;
        width: 30%;
        min-width: 13rem;
        max-width: 25rem;
    }
}

@media (min-width:490px) and (max-width: 790px){
.key-feature__image{
    padding: 0;
}
}

@media (min-width: 1290px){
    .plan{
        transition: .8s;
        margin: 0 20px;
    }
}